
  .Cloud{

    z-index: 10;
    width: 20vw;
    height: 11vw;
    background: url(/public/cloud.svg) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;

  }

  .PrecipitationCloud{

    background-color-color: var(--text-color);
  }


  .CloudForm{

    width: 100vw;
    height: 20vw;


  }